
body {
    margin:0;
}

ul, a {
    display: flex;
    list-style: none;
    text-decoration: none;
     color:black;

}
.link {

}
a {
    font-weight: bold;
}
li {
    margin-inline:25px;
}
.header-container {
    display: flex;
    margin:14px;
    align-items: center;
}
input {
    padding: 9px;
    width: 100%;
    border:none;
    color:rgb(62, 61, 61);
    background-color: rgb(237, 237, 237);
    border-radius: 5px;
    height:23px
}
form {
    display: flex;
    flex:1 1 auto;
}
.utility-header-wrapper {
    background-color: rgb(204, 0, 0);
    height:50px;
    display: flex;
    justify-content: space-between;
}
.utility-list {
    color: white;
}
