
ul, a {
    display: flex;
    list-style: none;
    text-decoration: none;
    color:black;
}
a {
    font-weight: bold;
}
li {
    margin-inline:25px;
}
.header-container {
    display: flex;
    margin:14px;
}
input {
    padding: 9px;
}